<style>
  body {
      background-image: linear-gradient(to top, #af9cf2 0%, #ffffff 40%);
      /* Full height */
      height: 100%; 
  }

  #service-card{
    background-color: rgba(245, 245, 242, 0.8); 
    opacity: 1;
  }
</style>


<div class="container md-12 mt-4">
  <h3 class="text-uppercase text-center">VISIBLE ELEGANCE OFFERS A FULL RANGE OF PROFESSIONAL SERVICES.</h3>
  <div class="row">
    <% @service_types.each do |service_type| %>
    <div class="col-md-4">
      <div class="card h-100 container-fluid shadow stylish-color-dark " id="service-card">
        <h4 class="text-center mt-2 stylish-color-dark font-weight-bold text-uppercase"><%= service_type.name %></h4> 
        <table class="table-responsive table-hover">
          <thead>
            <tr>
              <th>Service</th>
              <th>Price</th>
              <th>Length</th>
            </tr>
          </thead>
          <hr>
          <tbody>
         
            <% service_type.services.order('name ASC').each do |service| %>
              <tr>
                <td><%= service.name %></td>
                <td>$<%= service.price %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><%= service.length %> min</td>
              </tr>
            <% end %>

          </tbody>
        </table>
      </div>
    </div>
    <% end %>
  </div>
</div>